*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 50%;
    height: 30vh;
    background: rgba(255,255,255,0,4);
    padding: 3em;
}